<div>
  {{ title }}
  {{ name }}
  {{ age }}
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  <p [title]="age">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consectetur consequatur eius,
    fugit impedit
    laboriosam natus obcaecati quasi quos ratione recusandae repellendus, sint. Aliquid autem deserunt earum ipsa
    numquam.
  </p>
  <ul>
    <li *ngFor="let e of list; let i = index">{{ i }} - {{ e.name }}</li>
  </ul>
  <div *ngIf="age > 58; else childBLock">
    adults only
  </div>
  <button *ngIf="hasMore; else noMore" [ngStyle]="LoadableStyle" (click)="loadMore()">load more</button>
  <ng-template #childBLock>
    <p>child only</p>
  </ng-template>

  <ng-template #noMore>
    <p [ngStyle]="noMoreStyle">
      no more ~~
    </p>
  </ng-template>
</div>
