<div>
  {{ title }}
  {{ name }}
  {{ age }}
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  <p [title]="age">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consectetur consequatur eius,
    fugit impedit
    laboriosam natus obcaecati quasi quos ratione recusandae repellendus, sint. Aliquid autem deserunt earum ipsa
    numquam.
  </p>
  <ul>
    <li *ngFor="let e of list; let i = index">{{ i }} - {{ e.name }}</li>
  </ul>
  <div *ngIf="age > 58; else childBLock">
    adults only
  </div>
  <button *ngIf="hasMore; else noMore" [ngStyle]="LoadableStyle" (click)="loadMore()">load more</button>
  <ng-template #childBLock>
    <p>child only</p>
  </ng-template>

  <ng-template #noMore>
    <p [ngStyle]="noMoreStyle">
      no more ~~
    </p>
  </ng-template>

  <button [ngClass]="buttonClass" (click)="loadMore2()">button 3</button>

  <div [ngSwitch]="userLevel">
    <h3 *ngSwitchCase="'normal'">normal user</h3>
    <h3 *ngSwitchCase="'vip'">vip user</h3>
    <h3 *ngSwitchCase="'blackGold'">black gold user</h3>
    <h3 *ngSwitchDefault>please log in</h3>
  </div>
  <input [(ngModel)]="lover" (ngModelChange)="handleViewChange()" placeholder="please enter something">
  <hr>

  <input [(ngModel)]="password" type="password" (ngModelChange)="pwdChange()">
  <span>{{ msg }}</span>

  <div appliuChen>Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ab adipisci assumenda dolor, ducimus ea, ex illo impedit inventore iure laborum,
    nihil nisi placeat ratione reprehenderit sed similique soluta! Modi, repellendus.
  </div>
  <div >Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ab adipisci assumenda dolor, ducimus ea, ex illo impedit inventore iure laborum,
    nihil nisi placeat ratione reprehenderit sed similique soluta! Modi, repellendus.
  </div>
  <div appliuChen>Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Ab adipisci assumenda dolor, ducimus ea, ex illo impedit inventore iure laborum,
    nihil nisi placeat ratione reprehenderit sed similique soluta! Modi, repellendus.
  </div>

  <ul>
    <li *ngFor="let item of list">{{item.name}} - {{item.gender}} - {{item.gender | sexPipe : "en"}}</li>
  </ul>

  <div>
    <button (click)="addItem()">add item</button>
    <button (click)="deleteItem()">delete item</button>
  </div>

  <div>
    <button (click)="getFunFact()">fetch fun fact</button>
  </div>

  <div>App: {{price}}</div>

  <MyHome [homePrice] = "price"></MyHome>
  <About (cryEvent)="doCry($event)"></About>
</div>
